@*@model string*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rett i Kartet</h1>
    <br />
    <a asp-controller="Home" asp-action="RegistrationForm" class="btn btn-primary">Registrer nå</a>
    <hr />
    <a asp-controller="Home" asp-action="RegisterAreaChange">Eller fortsett som gjest</a>
    @*@Model *@
</div>

