@*@model string*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="flex-container2">
    <div class="bg-image"></div>
   
    <div class="panel">
        <h2 class="green-text">
            <img src="/images/Eiendom-removebg-preview (1).png"> Eiendom</h2>
        <hr />
        <a asp-controller="Home">Tinglyse skjøte</a>
        <hr />
        <a asp-controller="Home">Arv,skifte og uskifte</a>
        <hr />
        <a asp-controller="Home">Eiendomsgrenser</a>
        <hr />
    </div>

    
    <div class="panel">
        <a href="https://www.kartverket.no/til-lands" class="text-decoration:none;">
            <h2 class="green-text">
                <img src="/images/TilLands-removebg-preview.png">Til lands
            </h2>
        </a>
        <hr />
        <a href="https://www.kartverket.no/til-lands/kart/turkart">Turkart</a>
        <hr />
        <a asp-controller="Account" asp-action="Login">Rett i kartet</a>
        <hr />
        <a asp-controller="Home">Stedsnavn</a>
        <hr />
    </div>

    <div class="panel">
        <h2 class="green-text">
            <img src="/images/TilSjøs-removebg-preview.png">Til sjøs
        </h2>
        <hr />
        <a href="https://www.kartverket.no/til-sjos/se-havniva">Se havnivået og tidevannet</a>
        <hr />
        <a asp-controller="Home">Sjøkart</a>
        <hr />
        <a asp-controller="Home">Rettelser til sjøkart (Efs)</a>
        <hr />
        <a asp-controller="Home">Det norske los</a>
    </div>
</div>

<div class="containerP">
    <main role="main" class="pb-3">
        <div class="scrollable-container">
            <div class="flex-container">
                <div>
                    <h2>Søk Kommune Info</h2>
                    <form asp-action="KommuneInfo" method="post">
                        @Html.AntiForgeryToken()
                        <label for="kommuneNr">Kommune Nummer:</label>
                        <input type="text" id="kommuneNr" name="kommuneNr" />
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
                <div>
                    <h2>Søk Stedsnavn</h2>
                    <form asp-action="Stedsnavn" method="post">
                        @Html.AntiForgeryToken()
                        <label for="searchTerm">Stedsnavn:</label>
                        <input type="text" id="searchTerm" name="searchTerm" />
                        <button type="submit" class="btn btn-success" >Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
@if (ViewData["Error"] != null) 
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Kartverket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>