@model IEnumerable<Kartverket.Data.GeoChange>

@{
    ViewData["Title"] = "Saksbehandler";
}

<h2>Saksbehandler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Status</th>
            <th>Kategori</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var geoChange in Model)
        {
            <tr>
                <td>@geoChange.CreatedDate.ToString("dd.MM.yyyy")</td>
                <td>@geoChange.Status</td>
                <td>@geoChange.Category</td>
                <td>
                    <a asp-action="GeoChangeDetails" asp-route-id="@geoChange.Id" class="btn btn-success">Vis detaljer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
