<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kartverket</title>
    <link rel="stylesheet" href="~/Kartverket.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mycsstheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand navbar-brand-custom" asp-controller="Home" asp-action="Index"><img src="/images/Kartverket Logo40 .png" alt="Logo">Kartverket</a> <!--byttet farge og gjorde trykkbar til forside-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="GeoChange" asp-action="RegisterAreaChange">Ny Innmelding</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="MinSide">Min Side</a>
                        </li>
                    </ul>
                    <!-- Authentication Links -->
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-action="Logout" asp-controller="Account" method="post" class="form-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link nav-link btn-link-custom">Logg ut</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Logg inn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                    <!-- Meny bar -->
                    <ul class="nav-item ms-auto">
                        <li class="nav-item dropdown green-text">
                            <a class="nav-link dropdown-toggle text-success" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                                MENY<img src="/images/MenyBar40.png" alt="MENY">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item green-text" asp-controller="GeoChange" asp-action="RegisterAreaChange">Ny innmelding</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Kartverket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
