@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Registration Success";
}

<!DOCTYPE html>
<html lang="no">
<head>
</head>
<body>

    <div id="successModal" class="modal">
        <div class="modal-content">
            <p class ="green-text">Brukeren din er registrert!</p>
            <button id="okButton" class="btn btn-success">OK</button>
        </div>
    </div>

    
    <script>
       
        var modal = document.getElementById("successModal");
    
      
        var okButton = document.getElementById("okButton");

        // Omdirigeres til MinSide
        okButton.onclick = function() {
            modal.style.display = "none";
            window.location.href = '@Url.Action("MinSide", "Account")';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                window.location.href = '@Url.Action("MinSide", "Account")';
            }
        }

       
        window.onload = function() {
            modal.style.display = "block";
        }
    </script>
</body> 
</html>