﻿@using Kartverk.Mvc.Models.Account;

@model Kartverket.Data.Bruker
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"].</h1>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Epost" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Epost" class="form-control" />
            <span asp-validation-for="Epost" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Passord" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Passord" class="form-control" />
            <span asp-validation-for="Passord" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BekreftPassord" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BekreftPassord" class="form-control" />
            <span asp-validation-for="BekreftPassord" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}