@{
    ViewData["Title"] = "Registration Success";
}

<!DOCTYPE html>
<html lang="no">
<head>
    <!-- Inkludere site.css -->
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <!-- Modal HTML -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <p class ="green-text">Brukeren din er registrert!</p>
            <button id="okButton" class="btn btn-success">OK</button>
        </div>
    </div>

    <!-- Modal JavaScript -->
    <script>
        // Get the modal
        var modal = document.getElementById("successModal");
    
        // Get the button that closes the modal
        var okButton = document.getElementById("okButton");

        // When the user clicks the button, close the modal and redirect
        okButton.onclick = function() {
            modal.style.display = "none";
            window.location.href = '@Url.Action("MinSide", "Home")';
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                window.location.href = '@Url.Action("MinSide", "Home")';
            }
        }

        // Show the modal when the page loads
        window.onload = function() {
            modal.style.display = "block";
        }
    </script>
</body> 
</html>