html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.containerS {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;

}

.left-side, .right-side {
    
    padding: 10px;
    box-sizing: border-box;
    flex:1;
}

.left-side {
    background-color: #F5F2F2;
    flex-direction: column;
    width:60%;
}


.controls {
    margin-bottom: 20px;
    flex-shrink: 0;
    
}

table {
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid lightgrey;
    flex-grow: 1;
    display:block;
    width:100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    border: none;
    border-bottom: 1px solid lightgrey;
   
}

th {
    background-color: #DDE1E6;
    text-align: left;
}

#search {
    width: 60%;
}


select {
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

.containerM {
    display: flex;
    flex-direction: row; /* Legger elementene ved siden av hverandre */
    height: 100vh;
    width: 100vw; /* Full bredde */
}

.Minside {
    flex: 0 0 40%; /* Tar opp 40% av bredden */
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #F5F2F2;
}

.Innmeldinger {
    flex: 1; /* Tar opp resten (60%) av bredden */
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}



